venv/
.vscode/
__pycache__/
.idea
*.iml
create-lookup
deployer
*.log
pom.xml
target/
lookup
custom_variables/
vagrant_backup_files/
logs/
output/
*.pyc
new_output/
itsmax.bo
omw.egg-info/
build/
dist/
*.egg-info